.venv
venv/

# Environment variables
.env

# Python cache files
__pycache__/
*.py[cod]

# Poetry
poetry.lock

# IDE-specific files (optional, depending on your setup)
.vscode/
.idea/

# Logs
*.log

# Build artifacts
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Operating system files
.DS_Store
Thumbs.db